<div class="card vw-100 m-auto mt-5" style="max-width: 520px;">

    <div class="card-body p-4">
        <h4 class="card-title">Login</h4>

        <div class="text-center mb-4">
            <h2 class="card-title fw-bold">🎫 Event-It</h2>
            <p class="text-muted">Faça login para acessar o painel administrativo</p>
        </div>

        @if (errorMessage()) {
        <div class="alert alert-danger" role="alert">
            ⚠️ {{ errorMessage() }}
        </div>
        }

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Digite o seu email"
                    autocomplete="email" />
            </div>

            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" name="senha" id="senha" class="form-control" placeholder="••••••••"
                    autocomplete="current-password" />
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Entrar</button>
            </div>

            <!-- Botão de submit: -->
             <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="loginForm.invalid || isLoading()"
        >
          @if (isLoading()) {
            <!-- Spinner do Bootstrap exibido durante o carregamento -->
            <span class="spinner-border spinner-border-sm me-2" role="status"></span>
            Entrando…
          } @else {
            Entrar
          }
        </button>

        </form>

        <div class="text-center mt-3">
        <a routerLink="/events" class="text-muted small">← Voltar aos eventos</a>
      </div>

    </div>

</div>